@font-face {
    font-family: 'Karla';
    src: url('./Fonts/Karla-VariableFont_wght.ttf') format('truetype');
  }

nav {
    display: grid;
    grid-template-columns: auto 1fr;
    margin-top: 30px;
    margin-bottom: 30px;
    gap: 0px; /* Gap between grid items */
    padding: 0px;
    background-color:white;
    margin-left: 20%;
    margin-right: 20%;
  }

nav > img {
    width: 190px ;
    height: auto ;
    margin-right:20px;
}

nav > ul {
    list-style-type: none; /* Remove bullet points from list */
    margin-top:auto;
    margin-bottom: auto;
    padding: 0;
    display: flex; /* Make list items display in a row */
    justify-content:space-around; /* Space out items evenly */
    font-family:'Karla';
    font-weight: bold;
    font-size: 13px;
  
  }


nav a {
    color: black; /* Inherit the color from the parent element */
    text-decoration: none; /* Remove the underline */ 
}

a:hover {
 color: #F4CE14;
}